<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/aivenweb/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="lauchacarro" />
            <add key="ClearTextPassword" value="16296b1ead175438504b94a30fe8a4d21f0ed8e3" />
        </github>
    </packageSourceCredentials>
</configuration>