<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/aivenweb/index.json" />
        <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="lauchacarro" />
            <add key="ClearTextPassword" value="d8de1a102b7de7a127e2a27dd296a1b49dff479b" />
        </github>
    </packageSourceCredentials>
</configuration>