@page "/googleauth"
@inject IJSRuntime JSRuntime


<h3>GoogleAuth</h3>
<div class="g-signin2" data-onsuccess="onSignIn"></div>

<a href="#" onclick="signOut();">Sign out</a>

@code {

    protected override async Task OnParametersSetAsync()
    {
        await JSRuntime.InvokeVoidAsync("window.loadJS", "https://apis.google.com/js/platform.js");
    }

    [JSInvokable]
    public static Task<string[]> ReturnArrayAsync(string token)
    {
        return Task.FromResult(new string[] { "1", "2", "3", token });
    }
}
