@inherits LayoutComponentBase


<SpinKitCubeGrid />
<Alert Color="danger" Title="Hubo un Error" Message="Refresca el sitio y prueba nuevamente" />
<div id="app">
    <div id="sidebar" class='active'>
        <SideBar />
    </div>
    <div id="main">
        <NavMenu />
        @Body

        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-left">
                    <p>2020 &copy; Aiven Web Ecommerce</p>
                </div>
                <div class="float-right">
                    <p>Crafted with <span class='text-danger'><i data-feather="heart"></i></span> by <a href="https://aivenweb.com">Aiven Web</a></p>
                </div>
            </div>
        </footer>
    </div>
</div>

@code {

    
}